<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ödev 1 - Ağ Programlama</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="card" id="tab">
    <div class="card-header">
        Ders Programı
    </div>
    <div class="card-body">
        <table class="table table-striped">
		  <thead>
			<tr>
			  <th scope="col">Sıra No</th>
			  <th scope="col">Ders Kodu</th>
			  <th scope="col">Ders Adı</th>
			</tr>
		  </thead>
		  <tbody>
            <% for(var i=0; i<content.length; i++) {%>
                <tr>
                    <th scope="row"><%= i %></th>
                    <td><%= content[i].code %></td>
                    <td><%= content[i].name %></td>
                </tr>
            <% } %>
		  </tbody>
		</table>
    </div>
</body>
</html>